bin
target
.gradle
build
.classpath
.factorypath
.project
.settings
.metadata
.DS_Store
test-output
reports
.idea
*.iml
out/
.ws/
settings.json
.attach_pid*
.java-version
.devcontainer
.claude
CLAUDE.md
*.http
webapp/*.log
.run
webapp/src/generated/
webapp/src/main/generated/
